.env
grafana/data/*
!grafana/data/.gitkeep
prometheus/data/*
!prometheus/data/.gitkeep
loki/data/*
!loki/data/.gitkeep
mysql-exporter/.my.cnf
!mysql-exporter/.my.cnf.example


*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Code coverage profiles and other test artifacts
*.out
coverage.*
*.coverprofile
profile.cov

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
go.work.sum

# Editor/IDE
.idea/
