version: "3.9"

services:
  grafana:
    container_name: grafana
    image: grafana/grafana:main-ubuntu
    user: "472:472"
    volumes:
      - ./grafana-data:/var/lib/grafana/
    environment:
      - GF_LOG_LEVEL=debug
    ports:
      - "3000:3000"
    restart: unless-stopped
    networks:
      - monitoring-network
    security_opt:
      - no-new-privileges:true

  prometheus:
    container_name: prometheus
    image: prom/prometheus:latest
    volumes:
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml:ro
      - ./prometheus/prometheus-data:/prometheus
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--storage.tsdb.path=/prometheus'
      - '--storage.tsdb.retention.time=30d'
    ports:
      - "9090:9090"
    restart: unless-stopped
    networks:
      - monitoring-network
    security_opt:
      - no-new-privileges:true

  node-exporter:
    container_name: node-exporter
    image: prom/node-exporter:latest
    volumes:
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro
      - /:/rootfs:ro
    command:
      - '--path.procfs=/host/proc'
      - '--path.sysfs=/host/sys'
      - '--collector.filesystem.mount-points-exclude=^/(sys|proc|dev|host|etc)($$|/)'
    ports:
      - "9100:9100"
    restart: unless-stopped
    networks:
      - monitoring-network
    security_opt:
      - no-new-privileges:true

  wow-exporter:
    container_name: wow-exporter
    build: .
    pid: "host"
    restart: unless-stopped
    networks:
      - monitoring-network
    volumes:
      - /proc:/host/proc:ro
    security_opt:
      - no-new-privileges:true

  loki:
    container_name: loki
    image: grafana/loki:latest
    ports:
      - "3100:3100"
    volumes:
      - ./loki/loki-config.yaml:/etc/loki/loki-config.yaml:ro
      - ./loki/loki-data:/loki
    command: -config.file=/etc/loki/loki-config.yaml
    restart: unless-stopped
    networks:
      - monitoring-network
    security_opt:
      - no-new-privileges:true

  promtail:
    container_name: promtail
    image: grafana/promtail:latest
    volumes:
      - ./promtail/promtail-config.yaml:/etc/promtail/promtail-config.yaml:ro
      - ./wow-logs:/var/log/wow:ro
    command: -config.file=/etc/promtail/promtail-config.yaml
    restart: unless-stopped
    networks:
      - monitoring-network
    security_opt:
      - no-new-privileges:true

networks:
  monitoring-network:
    driver: bridge